.user-contents
  .user-contents__header
  .user-contents__main
    .user-contents__main__box
      .user-contents__main__box__top
        会員情報入力
      .user-contents__main__box__input
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field
            = f.label :ニックネーム
            %span.required 必須
            %br/
            = f.text_field :nickname, class: 'input-default', placeholder: "例)フリマ太郎"
          .field
            = f.label :メールアドレス
            %span.required 必須
            %br/
            = f.email_field :email, class: 'input-default', placeholder: "PC・携帯どちらでも可"
          .field
            = f.label :パスワード
            %span.required 必須
            %br/
            = f.password_field :password, class: 'input-default', placeholder: "7文字以上の半角英数"
          .field
            = f.label :パスワード（確認用）
            %span.required 必須
            %br/
            = f.password_field :password_confirmation, class: 'input-default', placeholder: "確認のためもう一度入力してください"
          .field
            = f.label :本名（全角）
            %span.required 必須
            %br/
            = f.text_field :last_name, class: 'input-half', placeholder: "例)田中"
            = f.text_field :first_name, class: 'input-half', placeholder: "例)太郎"
          .field
            = f.label :本名（ふりがな）
            %span.required 必須
            %br/
            = f.text_field :last_name_kana, class: 'input-half', placeholder: "例)たなか"
            = f.text_field :first_name_kana, class: 'input-half', placeholder: "例)たろう"
          .field
            = f.label :生年月日
            %span.required 必須
            %br/
            = f.text_field :birthday, class: 'input-default', placeholder: "例)19990405"
          .field
            = f.label :送付先氏名（全角）
            %span.required 必須
            %br/
            = f.text_field :send_last_name, class: 'input-half', placeholder: "例)田中"
            = f.text_field :send_first_name, class: 'input-half', placeholder: "例)花子"
          .field
            = f.label :送付先氏名（ふりがな）
            %span.required 必須
            %br/
            = f.text_field :send_last_name_kana, class: 'input-half', placeholder: "例)たなか"
            = f.text_field :send_first_name_kana, class: 'input-half', placeholder: "例)はなこ"
          = f.fields_for :address do |f|
            .field
              = f.label :郵便番号
              %span.required 必須
              %br/
              = f.text_field :postalcode, class: 'input-default', placeholder: "例)1231234"
            .field
              = f.label :都道府県
              %span.required 必須
              %br/
              = f.select :prefecture, Address.prefectures.keys, {}, {class: 'prefectures-tab'}
            .field
              = f.label :市区町村
              %span.required 必須
              %br/
              = f.text_field :city_town, class: 'input-default', placeholder: "例)渋谷区道玄坂"
            .field
              = f.label :番地
              %span.required 必須
              %br/
              = f.text_field :house_number, class: 'input-default', placeholder: "例)2-23-12"
            .field
              = f.label :建物名
              %br/
              = f.text_field :building_name, class: 'input-default', placeholder: "例)フリマビル 103号室"
            .field
              = f.label :電話番号
              %br/
              = f.text_field :phone_number, class: 'input-default', placeholder: "例)08012345678"
          .actions
            = f.submit "次へ進む", class: 'submit-btn'
  .user-contents__footer