.footer
  .footer-top
    .footer-top__inner
      .footer-top__inner__title
        だれでもかんたん、人生を変えるフリマアプリ。
      .footer-top__inner__text
        今すぐ、無料ダウンロード!!
      .footer-top__inner__icon
        .footer-top__inner__icon__app-btn
        .footer-top__inner__icon__google-btn
  .footer-bottom
    %ul.footer-bottom__contents
      %li.footer-bottom__contents__content__left
        .footer-bottom__contents__content__left__head
          FURIMAについて
        %ul.footer-bottom__content__left__body
          %li.footer-bottom__content__left__body-a
            = link_to "会社概要欄"
          %li.footer-bottom__content__left__body-b
            = link_to "プライバシーポリシー"
          %li.footer-bottom__content__left__body-c
            = link_to "FURIMA利用規約"
          %li.footer-bottom__content__left__body-d
            = link_to "ポイントに関する特約"
      %li.footer-bottom__contents__content__center
        .footer-bottom__contents__content__center__head
          FURIMAを見る
        %ul.footer-bottom__content__center__body
          %li.footer-bottom__content__center__body-a
          = link_to "カテゴリー一覧"
          %li.footer-bottom__content__center__body-b
          = link_to "ブランド一覧"
      %li.footer-bottom__contents__content__rigth
        .footer-bottom__contents__content__rigth__head
          ヘルプ&ガイド
        %ul.footer-bottom__content__rigth__body
          %li.footer-bottom__content__rigth__body-a
          = link_to "FRIMAガイド"
          %li.footer-bottom__content__rigth__body-b
          = link_to "FURIMAロゴ利用ガイドライン"
          %li.footer-bottom__content__rigth__body-c
          = link_to "お知らせ"
      .footer-bottom__image
        .footer-bottom__image__sub
        .footer-bottom__image__title
        　　© FURIMA