.header
  .header__inner
    .header__inner__main-header
      .header__inner__main-header__furima-image

      .header__inner__main-header__search-box
        .header__inner__main-header__seach-box__search-input
          = form_with(url: "#", local: true, method: :get, class: "search-form") do |form|
            = form.text_field :date, placeholder: "キーワードから探す", class: 'search-text'
            = form.submit :　, class: 'search-btn'

    .header__inner__nav
      .header__inner__nav__list-left
        .header__inner__nav__list-left__category
          = link_to "#", class: "btn-category" do
            カテゴリー
        .header__inner__nav__list-left__brand
          = link_to "#", class: "btn-brand" do
            ブランド
      .header__inner__nav__list-right
        .header__inner__nav__list-right__login
          = link_to "#", class: "btn-login" do
            ログイン
        .header__inner__nav__list-right__login-new
          = link_to "#", class: "btn-login-new" do
            新規会員登録