.wrapper
  = render "header"
  = render "main.top"
  = render "main.bottom"
  = render "footer"
= link_to "#"do
  .exhibition
    .exhibition__exhibition-text
      出品する
    .exhibition__exhibition-icon