.wrapper
  = render "header"
  = render "main.top"
  = render "main.bottom"
  = render "footer"
<<<<<<< HEAD
= link_to "#"do
=======
= link_to  new_toppage_path do
>>>>>>> 3acace9... 写真リンク
  .exhibition
    .exhibition__exhibition-text
      出品する
    .exhibition__exhibition-icon