.product-purchase
  .product-purchase__box
    .product-purchase__box__heder
      .product-purchase__box__heder__frame
        .product-purchase__box__heder__frame__link
          .product-purchase__box__heder__frame__link__image
    .product-purchase__box__main
      .product-purchase__box__main__frame
        .product-purchase__box__main__frame__top
          購入内容の確認
      .product-purchase__box__main__second
        .product-purchase__box__main__second__inner
          .product-purchase__box__main__second__inner__item
            .product-purchase__box__main__second__inner__item__image
              = image_tag @item.images[0].url, size: "100x100", class: "product_imge"
            .product-purchase__box__main__second__inner__item__detail
              .product-purchase__box__main__second__inner__item__detail__name
                = @item.name
              .product-purchase__box__main__second__inner__item__detail__bold
                .product-purchase__box__main__second__inner__item__detail__bold__price
                  = @item.price
                .product-purchase__box__main__second__inner__item__detail__bold__tax-included
                  （税込み）送料込み
      .product-purchase__box__main__third
        .product-purchase__box__main__third__inner
          .product-purchase__box__main__third__inner__frame
            .product-purchase__box__main__third__inner__frame__price-table
              .product-purchase__box__main__third__inner__frame__price-table__bold
                .product-purchase__box__main__third__inner__frame__price-table__bold__prace-cell
                  支払金額
                .product-purchase__box__main__third__inner__frame__price-table__bold__prace
                  .product-purchase__box__main__third__inner__frame__price-table__bold__prace__pay
                    = @item.price
            .product-purchase__box__main__third__inner__frame__point
              .product-purchase__box__main__third__inner__frame__point__accordion-parent
                .product-purchase__box__main__third__inner__frame__point__accordion-parent__check
                  .product-purchase__box__main__third__inner__frame__point__accordion-parent__in
                  .product-purchase__box__main__third__inner__frame__point__accordion-parent__icon
                  .product-purchase__box__main__third__inner__frame__point__accordion-parent__point
      
          -# .product-purchase__box__main__fourth__inner__link
          -#   .product-purchase__box__main__fourth__inner__link__icon
          -#     .product-purchase__box__main__fourth__inner__link__icon__text
      .product-purchase__box__main__fifth
        .product-purchase__box__main__fifth__inner
          .product-purchase__box__main__fifth__inner__shipping-address
            配送先
          .product-purchase__box__main__fifth__inner__text
            .product-purchase__box__main__fifth__inner__text__icon
              .product-purchase__box__main__fifth__inner__text__icon__text
          .product-purchase__box__main__fifth__inner__sixth
            .product-purchase__box__main__fifth__inner__sixth__text
            .product-purchase__box__main__fifth__inner__sixth__bold
              - if !Card.nil?
                = link_to '購入する',item_pay_path(@item), method: :get ,class:"buy-btn"
              -# - else
              -#   = link_to 'カード情報を登録してください', new_card_path(@item) method: :get ,class:"buy-btn"
            -# - elsif user_signed_in?
            -#   = link_to '購入する', purchase_item_path, method: :get,class:"switch-btn"
              購入する
            .product-purchase__box__main__fifth__inner__sixth__app
            .product-purchase__box__main__fifth__inner__sixth__logos
  .product-purchase__footer
    .product-purchase__footer__sub
      .product-purchase__footer__sub__box
        .product-purchase__footer__sub__box__text
          .product-purchase__footer__sub__box__text__link
            プライバシーポリシー
        .product-purchase__footer__sub__box__text
          .product-purchase__footer__sub__box__text__link
            フリマ利用規約
        .product-purchase__footer__sub__box__text
          .product-purchase__footer__sub__box__text__link
            特定商取引に関する表記
    .product-purchase__footer__image
      .product-purchase__footer__image__pasting
    .product-purchase__footer__logo
      .product-purchase__footer__logo__pasting
        © Furima